@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);

body {
  color: #111111;
  font-family: 'Roboto Condensed', sans-serif;
  p {
    line-height: 30px;
  }
}
.navbar-inverse {
  background-color: #464b4c;
  border-color: #464b4c;

  .navbar-brand {
    color: #ffffff;
  }

  .navbar-nav {
    float: right;
  }

  .navbar-nav > li > a.active {
    background-color: #3c4041;
  }
}

.glyphicon.glyph-4x {
  font-size: 40px;
}
.glyphicon.glyph-5x {
  font-size: 50px;
}

.glyphicon.circle {
  margin: 20px;
  line-height: 99px;
  color: #ffffff;
  background-color: #555555;
  width: 100px;
  height: 100px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.hr {
  width: 15%;
  margin: 40px auto;
  border-bottom: solid 3px #df8b27;

  &.five-percent {
    width: 5%;
  }

  &.white {
    border-color: #ffffff;
  }
}

.row {
  padding: 70px 0;
}
.row.wire-bg {
  background-image: url(/img/wire-bg.jpg);
  background-position: 100%;
  background-size: cover;
  color: #ffffff;

  .container {
    color: #ffffff;
  }
}

.yes-orange {
  color: #df8b27;
}