@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);

body {
  color: #111111;
  font-family: 'Roboto Condensed', sans-serif;
  p {
    line-height: 30px;
  }
}
.navbar-inverse {
  background-color: #464b4c;
  border-color: #464b4c;

  .navbar-brand {
    color: #ffffff;
  }

  .navbar-nav {
    float: right;
  }

  .navbar-nav > li > a.active {
    background-color: #3c4041;
  }
}

.glyphicon.glyph-4x {
  font-size: 40px;
}
.glyphicon.glyph-5x {
  font-size: 50px;
}

.glyphicon.circle {
  margin: 20px;
  line-height: 99px;
  color: #ffffff;
  background-color: #555555;
  width: 100px;
  height: 100px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;

  &.circle-40 {
    line-height: 39px;
    width: 40px;
    height: 40px;
  }
}

.hr {
  width: 15%;
  margin: 40px auto;
  border-bottom: solid 3px #df8b27;

  &.five-percent {
    width: 5%;
  }

  &.white {
    border-color: #ffffff;
  }
}

.section {
  padding: 60px 0;
}
.short-section {
  padding: 30px 0;
}

.about.wire-bg {
  background-image: url(/img/wire-bg.jpg);
  background-position: 100%;
  background-size: cover;
  color: #ffffff;

  .container {
    color: #ffffff;
  }
}

.yes-orange {
  color: @yes-orange;
}
.contact {
  .form-control {
    background-color: #ebebeb;
  }
}
.social {
  background-color: #555555;
  color: #ffffff;

  .glyphicon-chevron-up {
    color: #000000;
    background-color: @yes-orange;
    position: absolute;
    top: -75px;
    left: 50%;
    margin-left: -20px;
  }

  i.fa {
    padding: 10px 10px 0;
  }
}